apiVersion: v1
kind: Service
metadata:
  name: react-clock-basic-loadbalancer
  namespace: react-clock
  labels:
    app: react-clock
    app.kubernetes.io/instance: react-clock
    app.kubernetes.io/name: react-clock
spec:
  ports:
  - name: react-clock
    port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    app: react-clock-basic
  externalTrafficPolicy: Cluster
  loadBalancerIP: 192.168.10.59
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-clock-basic
  namespace: react-clock
spec:
  selector:
      matchLabels:
        app: react-clock-basic
  replicas: 1
  template:
      metadata:
        labels:
            app: react-clock-basic
      spec:
        nodeSelector:
          worker: "true"
        containers:
        - name: react-clock-basic
          image: digitalkali/react-clock-basic:latest
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "500m"
